.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;

  & input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background: rgb(198, 185, 255);
    border-width: 0;

    &:placeholder-shown {
      padding-left: 10px;
    }
  }
}
